In [1]:
import pandas as pd

## Reading Data

In [2]:
df=pd.read_csv('data.csv')

In [3]:
df.head()

   Fever  BodyPain  Age  RunnyNose  DiffBreath  InfectionProbab
0    102         0   90          1          -1                0
1    101         0   55          0           1                0
2    103         1   86          0           1                1
3     98         0   58          0          -1                0
4     98         1   40          0           1                0

In [4]:
df.tail()

      Fever  BodyPain  Age  RunnyNose  DiffBreath  InfectionProbab
2570    104         0   78          0           1                1
2571    101         1   84          0           1                1
2572    104         0   89          0           0                0
2573    104         0   94          0           0                0
2574    101         1   81          0           1                0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fever            2575 non-null   int64
 1   BodyPain         2575 non-null   int64
 2   Age              2575 non-null   int64
 3   RunnyNose        2575 non-null   int64
 4   DiffBreath       2575 non-null   int64
 5   InfectionProbab  2575 non-null   int64
dtypes: int64(6)
memory usage: 120.8 KB

In [6]:
df['DiffBreath'].value_counts()

 1    887
-1    856
 0    832
Name: DiffBreath, dtype: int64

In [7]:
df.describe()

,Fever,BodyPain,Age,RunnyNose,DiffBreath,InfectionProbab
count,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000
mean,101.116117,0.505631,50.659029,0.483883,0.012039,0.488155
std,2.052750,0.500065,28.911156,0.499837,0.822807,0.499957
min,98.000000,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.000000,0.000000,25.000000,0.000000,-1.000000,0.000000
50%,101.000000,1.000000,51.000000,0.000000,0.000000,0.000000
75%,103.000000,1.000000,76.000000,1.000000,1.000000,1.000000
max,104.000000,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [20]:
import numpy as np

In [25]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data)*ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [26]:
train, test = data_split(df,0.2)

In [27]:
train

      Fever  BodyPain  Age  RunnyNose  DiffBreath  InfectionProbab
1703    101         0   14          0           0                1
1675    104         0   12          0           1                1
1518    102         0   77          1          -1                0
361      99         1    3          1          -1                1
1544    102         1   57          0          -1                1
...     ...       ...  ...        ...         ...              ...
1638    103         0   57          0           0                1
1095    104         1   42          0           0                1
1130    101         1   97          1           1                0
1294    104         0   44          1          -1                1
860     101         1   17          0          -1                1

[2060 rows x 6 columns]

In [28]:
test

      Fever  BodyPain  Age  RunnyNose  DiffBreath  InfectionProbab
1644     98         0   35          0           1                1
1189    104         1    6          1           0                0
495     102         1   99          0          -1                0
1656    102         0   15          1          -1                0
651     103         0   66          0           0                1
...     ...       ...  ...        ...         ...              ...
1627    100         1   16          1           0                0
471     104         1   68          0           1                1
700      99         0   68          1           1                0
25      102         1   24          0          -1                0
755     100         1   80          0          -1                1

[515 rows x 6 columns]

In [32]:
X_train=train[['Fever','BodyPain','Age','RunnyNose','DiffBreath']].to_numpy()
X_test=test[['Fever','BodyPain','Age','RunnyNose','DiffBreath']].to_numpy()

In [44]:
Y_train=train[['InfectionProbab']].to_numpy().reshape(2060,)
Y_test=test[['InfectionProbab']].to_numpy().reshape(515,)

In [45]:
Y_train

array([1, 1, 0, ..., 0, 1, 1], dtype=int64)

In [46]:
Y_test

array([1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 0, 1, 0, 0, 1], dtype=int64)

In [47]:
from sklearn.linear_model import LogisticRegression

In [48]:
clf=LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression()

In [52]:
inputFeature=[100,1,22,1,1]
infProb=clf.predict_proba([inputFeature])[0][1]

In [53]:
infProb

0.4684897871137473